:host {
    color: #fff;
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.row {
    display: flex;
}
.row-1, .row-3 {
    height: 5px;
    width: 100%;
}
.row-2 {
    height: calc(100% - 10px);
    width: 100%;
}

.row-1 > .col-1, .row-1 > .col-3, .row-3 > .col-1, .row-3 > .col-3 {
    width: 5px;
    height: 5px;
}
.row-1 > .col-2, .row-3 > .col-2 {
    width: calc(100% - 10px);
    height: 5px;
}
.row-2 > .col-1 {
    height: 100%;
    width: 5px;
}
.row-2 > .col-2 {
    height: 100%;
    width: calc(100% - 10px);
}
.row-2 > .col-3 {
    height: 100%;
    width: 5px;
}
.core {
    width: 100%;
    height: 100%;
}
.row-1 > .col-1, .row-3 > .col-3 {
    cursor: nw-resize;
}
.row-1 > .col-3, .row-3 > .col-1 {
    cursor: sw-resize;
}
.row-1 > .col-2, .row-3 > .col-2 {
    cursor: ns-resize;
} 
.row-2 > .col-1, .row-2 > .col-3 {
    cursor: ew-resize;
}