<div class="row row-1">
    <app-resize-bar 
        class="col col-1"
        [config]="configRow1Col1"
        [ctx]="ctx()"
        (onMouseDownOutput)="handleOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleOnMouseUpOutput($event)">
    </app-resize-bar>
    <app-resize-bar 
        class="col col-2"
        [config]="configRow1Col2"
        [ctx]="ctx()"
        (onMouseDownOutput)="handleOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleOnMouseUpOutput($event)">
    </app-resize-bar>
    <app-resize-bar 
        class="col col-3"
        [config]="configRow1Col3"
        [ctx]="ctx()"
        (onMouseDownOutput)="handleOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleOnMouseUpOutput($event)">
    </app-resize-bar>
</div>
<div class="row row-2">
    <app-resize-bar 
        class="col col-1"
        [config]="configRow2Col1"
        [ctx]="ctx()"
        (onMouseDownOutput)="handleOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleOnMouseUpOutput($event)">
    </app-resize-bar>
    <div class="col col-2">
        <div class="core">
            <ng-content></ng-content>
        </div>
    </div>
    <app-resize-bar 
        class="col col-3"
        [config]="configRow2Col3"
        [ctx]="ctx()"
        (onMouseDownOutput)="handleOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleOnMouseUpOutput($event)">
    </app-resize-bar>    
</div>
<div class="row row-3">
    <app-resize-bar 
        class="col col-1"
        [config]="configRow3Col1"
        [ctx]="ctx()"
        (onMouseDownOutput)="handleOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleOnMouseUpOutput($event)">
    </app-resize-bar>
    <app-resize-bar 
        class="col col-2"
        [config]="configRow3Col2"
        [ctx]="ctx()"
        (onMouseDownOutput)="handleOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleOnMouseUpOutput($event)">
    </app-resize-bar>
    <app-resize-bar
        class="col col-3"
        [config]="configRow3Col3"
        [ctx]="ctx()"
        (onMouseDownOutput)="handleOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleOnMouseUpOutput($event)">
    </app-resize-bar>
</div>
