<div class="row row-1">
    <app-resize 
        class="col col-1"
        [config]="configRow1Col1"
        (onMouseDownOutput)="handleResizeOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleResizeOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleResizeOnMouseUpOutput($event)">
    </app-resize>
    <app-resize 
        class="col col-2"
        [config]="configRow1Col2"
        (onMouseDownOutput)="handleResizeOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleResizeOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleResizeOnMouseUpOutput($event)">
    </app-resize>
    <app-resize 
        class="col col-3"
        [config]="configRow1Col3"
        (onMouseDownOutput)="handleResizeOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleResizeOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleResizeOnMouseUpOutput($event)">
    </app-resize>
</div>
<div class="row row-2">
    <app-resize 
        class="col col-1"
        [config]="configRow2Col1"
        (onMouseDownOutput)="handleResizeOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleResizeOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleResizeOnMouseUpOutput($event)">
    </app-resize>
    <div class="col col-2">
        <div class="header">
            <span>Window</span>
            <app-reposition 
                class="reposition" 
                [elementPositionPxDefaultInput]="repositionInput()"
                (elementPositionPxDefaultOutput)="handleRepositionOutput($event)">
            </app-reposition>
        </div>
        <div class="core">
            <ng-content></ng-content>
        </div>
    </div>
    <app-resize 
        class="col col-3"
        [config]="configRow2Col3"
        (onMouseDownOutput)="handleResizeOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleResizeOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleResizeOnMouseUpOutput($event)">
    </app-resize>    
</div>
<div class="row row-3">
    <app-resize 
        class="col col-1"
        [config]="configRow3Col1"
        (onMouseDownOutput)="handleResizeOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleResizeOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleResizeOnMouseUpOutput($event)">
    </app-resize>
    <app-resize 
        class="col col-2"
        [config]="configRow3Col2"
        (onMouseDownOutput)="handleResizeOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleResizeOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleResizeOnMouseUpOutput($event)">
    </app-resize>
    <app-resize
        class="col col-3"
        [config]="configRow3Col3"
        (onMouseDownOutput)="handleResizeOnMouseDownOutput($event)"
        (onMouseMoveOutput)="handleResizeOnMouseMoveOutput($event)"
        (onMouseUpOutput)="handleResizeOnMouseUpOutput($event)">
    </app-resize>
</div>
