@use './window.table';

:host {
    color: #fff;
    //outline: 1px solid red;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.core {
    height: calc(100% - 20px);
    width: 100%;
    position: relative;
}
.header {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
    cursor: move;
}
app-reposition {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 100;
    font-family: 'Quicksand';
    color: #fff;
}
.header > span {
    font-family: monospace;
    font-size: 12px;
    padding-left: 10px;
    color: #777;
}