.dashboard {
    background: #000;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.window-test__span {
    padding-left: 10px;
}
//formula para centrar un div: (tama単o del viewport - tama単o del div) / 2.
//formula para position contraria: tama単o del viewport - tama単o del div - position forward.

