<button class="expand-button" (click)="isPanelExpanded.set(!isPanelExpanded())">
    =
</button>
<div class="rail">
    @for (w of windowService.windows(); track w.name) {
        <div class="window-btn">
            <span>{{ w.name }}</span>
        </div>
    }
</div>
<!-- *ngFor="let item of itemsSync.items()" [data]="item" -->
 <!-- si le meto el ngfor de una al indice del array de ids se van a generar los botones al orden del indice. 
  por eso es mejor crear otro array adicional y sincronizarlo o sino evitar la reactividad... -->